.main{
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-left: 20px;
  padding-top: 20px;
}

.page{
  align-items: center;
  background-color:blanchedalmond;
  min-height: 100vh;
  padding: 25px;
}

.articleHeader{
  background-color:blanchedalmond;
  background-size: cover;
  background-blend-mode:normal;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  margin: 0 auto;
  padding: 4px;
  text-align: center;
  
}

.inner{
  background-color:blanchedalmond;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  padding: 50px 200px 0 200px;
}
